<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>
</head>
<body>
<ul>
        <li>
            <a href="/">Главная</a>
        </li>
         <li>
            <a href="/reg">Регистрация</a>
        </li>
         <li>
            <a href="/auth">Авторизация</a>
        </li>
         <li>
            <a href="/about">О нас</a>
        </li>
         <li>
            <a href="/contacts">Контакты</a>
        </li>
    </ul>
<h2>О нас</h2>
<p>Наша компания предоставляет услуги</p>
</body>
</html>