<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
</head>
<body>
    <ul>
        <li>
            <a href="/">Главная</a>
        </li>
         <li>
            <a href="/reg">Регистрация</a>
        </li>
         <li>
            <a href="/auth">Авторизация</a>
        </li>
         <li>
            <a href="/about">О нас</a>
        </li>
         <li>
            <a href="/contacts">Контакты</a>
        </li>
    </ul>
<h2>Контакты</h2>
<p>Наш email admin@admin.com</p>
<p>235235235</p>
</body>
</html>