<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Главаная</title>
    </head>
    <body>
     <ul>
        <li>
            <a href="/">Главная</a>
        </li>
         <li>
            <a href="/reg">Регистрация</a>
        </li>
         <li>
            <a href="/auth">Авторизация</a>
        </li>
         <li>
            <a href="/about">О нас</a>
        </li>
          <li>
            <a href="/contacts">Контакты</a>
        </li>
    </ul>
        <h2>Главаная страница</h2>
        <!--<p style="color: red">Абзац 1</p>
        <p align="center">Абзац 2</p>
        <h1>Заголовок</h1>
        <h2>Заголовок</h2>
        <h3>Заголовок</h3>
        <h4>Заголовок</h4>
        <h5>Заголовок</h5>
        <h6>Заголовок</h6>
        <img src="/static/img.png" width="300" height="100">
        <a href="https://ya.ru">Яндекс</a>
        <table border="1">
            <tr>
                <td>#</td>
                <td>Логин</td>
                <td>Пароль</td>
            </tr>
             <tr>
                <td>1</td>
                <td>user1</td>
                <td>12345</td>
            </tr>
             <tr>
                <td>2</td>
                <td>user2</td>
                <td>54321</td>
            </tr>
        </table>
    <ol>
        <li>Первый</li>
        <li>Второй</li>
    </ol>-->
    </body>
</html>